<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Wins:</strong>
  <%= @team.win_count %>
</p>

<p>
  <strong>Losses:</strong>
  <%= @team.loss_count %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
